.add-to-cart{
  background-color: rgb(255,216,20);
  border: none;
  border-radius: 30px;
  width :200px;
  height :45px;
  font-size: 20px;
  
}
.request-now-button{
  background-color:black;
  border:none;
  border-radius:5px;
  width:150px;
  height:45px ;
  font-size:20px ;
  color:white;
  padding:10px;
  margin-right: 40px;
}
.schedule-for-later-button{
  font-size: 20px;
  font-weight:bold;
  background-color: rgb(230,230,230);
  border:none;
  border-radius:5px;
  width:200px;
  height:45px ;
  font-size:20px ;
}


.toggle-button{
  font-size: 20px;
  font-weight:bold;
  
  border:none;
  border-radius:5px;
  width:100px;
  height:45px ;
  font-size:20px ;
  cursor: pointer;
  margin:40px;
}
.is-toggled{
  background-color: black;
  color:white;}
 
  /*

.music-button{
  font-size: 20px;
  font-weight:bold;
  
  border:none;
  border-radius:5px;
  width:100px;
  height:45px ;
  font-size:20px ;
  cursor: pointer;
  margin:40px;
}.tech-button{
  font-size: 20px;
  font-weight:bold;
  
  border:none;
  border-radius:5px;
  width:100px;
  height:45px ;
  font-size:20px ;
  cursor: pointer;
  margin:40px;
}
*/